# Security
TOKEN_KEY=
EXPIRY_MINS=
EXPIRY_DAYS=

# Email
SENDGRID_API_KEY=
FROM_EMAIL=
VERIFICATION_LINK=
LOGIN_2FA_LINK=
SUPPORT_EMAIL=
VERIFICATION_RESEND_COOLDOWN_SECONDS=
MAX_VERIFICATION_RESEND_ATTEMPTS=
LOGIN_2FA_EXPIRY_MINUTES=

# Database
POSTGRES_PASSWORD=
POSTGRES_URL=
POSTGRES_USER=
